.chat-main 
  .chat-main__main-header
    .chat-main__main-header__left-box
      %h1.chat-main__main-header__left-box__current-group test
      %ul.chat-main__main-header__left-box__group-list
        member :&nbsp
        %li.chat-main__main-header__left-box__member-list__member
          suzuki
    .chat-main__main-header__edit
      = link_to "#", class: "chat-main__main-header__edit__edit-btn" do
        Edit

  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        %p.chat-main__messages__message__upper-info__talker suzuki
        %p.chat-main__messages__message__upper-info__date 2019/11/20(Wed) 11:11:11
      .chat-main__messages__message__text おはよう！

    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        %p.chat-main__messages__message__upper-info__talker tanaka
        %p.chat-main__messages__message__upper-info__date 2019/11/20(Wed) 12:12:12
      .chat-main__messages__message__text おはようございます！

  .chat-main__form
    .chat-main__form__input
      %input{type: "text", class: "chat-main__form__input__text",placeholder: "type a message"}
      %label{class: "chat-main__form__input__image"}
        =icon('fas', 'image')
        %input{type: "file", class: "chat-main__form__input__image-file"}
    %input{type:"submit", class: "chat-main__form__submit-btn"}