.chat-side
  .chat-side__side-header
    .chat-side__side-header__box
      %p.chat-side__side-header__box__user-name
        suzuki
      %ul.chat-side__side-header__box__btn
        = link_to "#", class: "chat-side__side-header__box__btn" do
          = icon('far', 'edit', class: "chat-side__side-header__box__btn--icon")
          %span<>
        = link_to "#", class: "chat-side__side-header__box__btn" do
          = icon('fa', 'cog',)
  .chat-side__groups
    .chat-side__groups__group
      %p.chat-side__groups__group__group-name techcamp
      %p.chat-side__groups__group__latest-message まだメッセージがありません