.chat-side {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  float: left;
    &__side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
        &__box {
        height: 20px;
        width: 260px;
        background-color: #253141;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
          &__user-name {
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
          }
          &__btn {
            width: 60px;
            color: #ffffff;
            text-decoration: none;
            text-align: right;
              &--icon {
                padding-right: 5px;
              }
          }
      }
    }
    &__groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;
        &__group {
          color: #ffffff;
          align-items: center;
          padding-bottom: 40px;
          &__group-name {
            font-size: 15px;
            padding-bottom: 5px;
          }
          &__latest-message {
            font-size: 11px;
          }
        }
    }
}